<div id="encabezado">
<h1>Editar Contacto</h1>
</div>

<%= render 'form', contacto: @contacto %>

<%= button_to 'Ver', @contacto, method: :get %> 
<%= button_to 'Atras', contactos_path, method: :get %>
<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
</style>