<div id="encabezado">
<h1>Nuevo Contacto</h1>
</div>

<%= render 'form', contacto: @contacto %>

<form action="/contactos" method="get">
<button>Atras</button>
</form>

<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
</style>