<div id="encabezado">
<h1>Editar Tercero</h1>
</div>

<%= render 'form', tercero: @tercero %>

<%= button_to 'Ver', @tercero, method: :get  %> 
<%= button_to 'Atras', terceros_path, method: :get %>

<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
</style>
