<div id="encabezado">
<h1>Nuevo Tercero</h1>
</div>

<%= render 'form', tercero: @tercero %>

<%= button_to 'Atras', terceros_path, method: :get %>
<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
</style>