<div id="encabezado">
<h1>Editar Producto</h1>
</div>

<%= render 'form', producto: @producto %>

<%= button_to 'Ver', @producto, method: :get %> 
<%= button_to 'Editar', productos_path, method: :get %>

<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
</style>