<div id="encabezado">
<h1>Nuevo Producto</h1>
</div>

<%= render 'form', producto: @producto %>

<%= button_to 'Atras', productos_path, method: :get %>
<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
</style>